body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sider-wrapper {
  background-color: #ffffff;
  border-right: 1px solid #f4f4f4;
  height: 100%;
  padding: 1rem;
  /* width: 25rem; */
}

.content-wrapper {
  /* border: 1px solid #f4f4f4; */
  /* height: 100%; */
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  /* margin: 1rem; */
}

.section-items-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.section-item {
  border: 1.5px solid #dcd6d6;
  border-radius: 3px;
  background-color: #fbfbfb;
  cursor: grab;
  margin: 0.15rem;
  padding: 0.25rem;
  height: 5rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-item .section-icon {
  font-size: 1.5rem;
}

.image-content-wrapper {
  background-color: #C1DAE6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 230px;
  width: 600px;
}
.image-content-wrapper .image-content {
  color: #ffffff;
  font-size: 100px;
}
#root {
  height: 100%;
}
.h-100 {
  height: 100%;
}
.template-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.template-img-wrapper {
  margin: 1rem;
  border: 1px solid #000000;
}
.template-img {
  height: 10rem;
  width: 8rem;
}
.target-container {
  min-height: 80vh;
  padding-bottom: 2rem;
}
.f-11 {
  font-size: 11px;
}
.w-85 {
  width: 85% !important
}
.search-box {
  width: 400px;
}
.sider-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.node-wrapper {
  border: 1px solid transparent;
  position: relative;
}
.node-wrapper:hover {
  border-color: #009400;
}
.node-wrapper:hover .node-edit-wrapper{
  display: block;
  position: absolute;
  right: 0px;
  top: 3px;
}
.edit-icon-wrapper {
  background-color: #009400;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  padding: 5px;
  margin: 2px;
}
.node-edit-wrapper {
  display: none;
}